body{
    font-family: var(--fonte-geral);
    display: flex;
    justify-content: center;
    height: 433px;
    width: 100%;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
   
    padding-top: 10rem;
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
#btVer{
    margin-top: 10px;
    background-color: #008793;
    padding: 9px;
    border-radius: 5px;
}
#Limpar{
    margin-top: 10px;
    background-color:#ff8a75;
    padding: 5px;
    border-radius: 5px;
}
label{
    display: flex;
}