*{
    margin: 0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --fonte-geral: "Arvo", serif;
}
body{
    font-family: var(--fonte-geral);
    display: flex;
    justify-content: center;
    height: 428px;
    width: 100%;
    background: linear-gradient(-45deg,rgba(128,247,160,1), rgba(253,131,131,1));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    background-size: 500% 100%;
    padding-top: 10rem;
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


.elementos-em-linha{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    
}
#btVer{
    margin-right: 10px;
    padding-inline: 10% 10%;
    background-color: rgb(182, 255, 182);
    border-color: white;
    border-radius: 6px;
    border: none;
    
}
#btVer:hover{
    cursor: pointer;
}
#Limpar{
    border: none;
}
div{
    display: flex;
    justify-content: center; 
}
h1{
    margin: 10px;
    margin-bottom: 20px;
}
label,input{
    margin-bottom: 10px;
}
section{
    text-align: center;
    border-radius:10px ;
    
}
::placeholder{
    text-align: center;
   padding-left: 6px;
}
input{
    background-color: rgb(248, 246, 246);
    border-color: rgb(255, 255, 255);
    border-radius: 2px;
}

#somaTriangulo{
    padding-bottom: 8px;
}
